
:root {
 --focus-color: #2196F3;
 --text-color: #212121;
 --main-color: #000000;
 --white: #FFFFFF;
 --background: #2F303A;
 --adress-color: #757575;


}

h1, h2, h3, p {
    margin: 0;
}

.header {
    background-color:var(--white);
    width: 1600px;
    border-bottom: #757575;
}


.main-list {
    display: flex;
    margin-top: 94px;
    margin-left: 215px;
    margin-right: 215px;

}

.description-head {
    margin-left: 617px;
    margin-right: 617px;
}

.working {
    margin-left: 215px;
}

body {
    font-family: Roboto, sans-serif;

}

.web {
    color: var(--focus-color);
}



.web {
    color: var(--focus-color);


    
}

.header-mail {
    color: rgba(0, 0, 0, 0);
}

.container {
    width: 1200px;
    background: #F5F5F5;
}

.header-tel {
    color: rgba(0, 0, 0, 0);
}







.studio {
    padding-top: 24px;
    padding-left: 215px;
    font-family: 'Raleway';
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color:var(--main-color)
}

.header-item {
    color: rgba(0, 0, 0, 0);
}

.portfolio-btn {
    display: flex;
    margin-left: 512px;
}

.header-link {
    display: flex;
    margin-right: 50px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--text-color)
}

.header-link:hover,
.header-link:focus {
    color: var(--focus-color)

}

.header-list {
    width: 281px;
    padding-left: 453px;
}

.header-word {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--text-color)
}


.header-word:focus,
.header-word:hover {
    color:var(--focus-color)
}

.list-btn {
    color: rgba(0, 0, 0, 0);

}

.type-btn {
    margin-left: 8px;
    margin-right: 8px;
    background: #F5F4FA;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--text-color)
}

.type-btn:focus,
.type-btn:hover {
    background-color: var(--focus-color);
    color: var(--white);
}


.item-mail {
    padding-left: 1078px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--adress-color)
}




.item-tel {
    padding-left: 1263px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--adress-color)
}

.item-mail:focus,
.item-mail:hover {
    color:var(--focus-color)
}

.item-tel:focus,
.item-tel:hover {
    color: var(--focus-color);
}


.div-grey {
   
    background:var(--background)
}

.main-big {
    padding-top: 200px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color:var(--white)
   
}

.main-image {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    margin: 30px;
    

 
}

.main-portfolio {


}

.portfolio-item {
    color: rgba(0, 0, 0, 0);
}

.images {
    display: flex;

}

.main-btn {
    margin-left: 692px;
    margin-right: 692px;
    margin-bottom: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background:var(--focus-color)
}

.btn-text {

}

.description-item {
    color: rgba(0, 0, 0, 0);
    



}
 
   




.main-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--text-color)
}

.main-description {
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
   letter-spacing: 0.03em;
   color:var(--adress-color)
}

.description-item {

}


.gallery {
 


}

.photos {
    display: flex;

  
}

.list-photos {
    color: rgba(0, 0, 0, 0);

}

.img {
    margin-left: 30px;
    margin-right: 30px;
}

.index-box {
    background: #FFFFFF;
    /* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-left: 30px;
    margin-right: 30px;

}

.btn-container {
    width: 575px;
}

.img-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em; 
    color:var(--text-color)
}

.img-description {
    font-size: 16px;
    line-height: 1.87;
    /* identical to box height, or 188% */
    letter-spacing: 0.03em;
    color:var(--adress-color)
}

.main-photos {
    margin-right: 617px;
    margin-left: 617px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--text-color)
}

.team-div {
    height: 368px;
    margin-bottom: 94px;
    display: flex;
    margin-left: 215px;


}

.our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--text-color)
}



.team-list {
    display: flex;



}

.main-frame {
    color: rgba(0, 0, 0, 0);

}

.main-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color2)
}

.main-nametag {
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--adress-color)
}

.main-frame {
    background: #FFFFFF;
    /* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}

.footer {
    background:var(--background)

}


.footer-logo {
    margin-bottom: 20px;
    margin-top: 60px;
    margin-left: 215px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color:var(--focus-color)

}

.stud {
    color: var(--white)
}

.footer-list {
    margin-left: 215px;

}

.footer-adress {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color:var(--white)
}

.footer-item {
    color: rgba(0, 0, 0, 0);

}

.footer-logo {
    text-decoration: none;
}

.footer-mail, 
.footer-tel {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-ul {
    font-style: normal;
}












